$btn-shadow: -10px -10px 20px 0 #ffffff, 10px 10px 20px 0 rgb(174 174 192 / 40%), inset 4px 4px 6px 0 rgb(255 255 255 / 50%);

.btn {
  min-width: 7rem;
  box-shadow: $btn-shadow;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:focus {
    box-shadow: $btn-shadow;
  }
}

.btn-action {
  min-width: auto;
  width: 3rem;
  height: 3rem;
}